/*colors->
light shades: #F1F4ED;
light accent: #7C9786;
primary: #21621E;
dark accent: #728267;905A6E;8E5D72
dark shades: #1E291F */

/*colors-> primary yellow very colorful
light shades: #F2F5F0;
light accent: #AEACB4;
primary: #F1C232;
dark accent: #D03F4F;
dark shades: #293647 */

/*colors->Green using this one
light shades: #F8F4F6;
light accent: #91D38D;
primary: #87C3C1;
dark accent: #93A291;
dark shades: #1E291F */

/*colors->
light shades: #F8F4F6;
light accent: #FFB400;
primary: #FF8300;
dark accent: #FF4100;
dark shades: #1E291F */

:root {
  --light--shades: #F8F4F6;
  --ligh--accent: #91D38D;
  --primary: #87C3C1;
  --dark--accent: #93A291;
  --dark--shades: #1E291F;
  --source-sans: 'Source Sans Pro', sans-serif;
  --source-serif: 'Source Serif Pro', serif;
  --xmarg: 0vw;
  --ymarg: 0vw;
}

#app {
  width: 100%;
  box-sizing: border-box;
}

.App {
  width: 100%;
  box-sizing: border-box;
}

.portfolio-link-small {
  font-weight: 400;
}

/*header bar*/
.portfolio-header {
  width: 100%;
  height: 7vh;
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}

.portfolio-header > * {
  position: relative;
  display: inline;
  box-sizing: border-box;
}

.portfolio-header div:first-child {
  height: 100%;
  box-sizing: border-box;
}

.portfolio-header div:first-child img {
  height: 100%;
}

.portfolio-header div:nth-child(2) {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: flex-end;
}

.portfolio-header div:nth-child(2) button {
  height: 100%;
  width: 10%;
  border-style: none;
  background-color: var(--primary);
  color: var(--light--shades);
  padding: 0 2rem 0 1rem;
  box-sizing: border-box;
}

/*nav bar*/
.portfolio-header nav {
  justify-self: right;
  align-self: center;
  width: 0%;
  height: 100%;
  background-color: var(--primary);
  display: flex;
  position: relative;  
  transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  overflow: hidden;
}

.open-menu {
  width: 100% !important;
}

@keyframes openMenu {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.portfolio-header nav ul {
  margin: 0;
  align-self: center;
  padding-inline-start: 20px;
  position: absolute;
  right: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.portfolio-header nav ul li {
  list-style-type: none;
  display: inline;
}

.portfolio-header nav ul li a {
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.03rem;
  padding: 0.5rem;
  font-family: var(--source-sans);
  color: var(--light--shades);
}

/*content section*/
section {
  background-color: var(--light--shades);
  padding: 1.5rem;
  min-height: 93vh;
  color: var(--dark--shades);
  position: relative;
  box-sizing: border-box;
}

section a {
  color: var(--primary);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

section a::after {
  content: "▶";
  margin-left: 1%;
  font-size: 0.8rem;
}

section a:hover::after {
  font-size: 1rem;
}

section .portfolio-intro {
  position: absolute;
  height: 80%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

section p {
  margin-bottom: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 0.9rem;
  font-weight: 400;
  font-stretch: expanded;
}

section form {
  
  margin-bottom: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

section h1 {
  margin: 0 5vw 0 5vw;
  font-family: var(--source-serif);
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--primary);
}

section .portfolio-intro span{
  font-weight: 500;
  color: var(--ligh--accent);
}

section .portfolio-intro a{
  font-weight: 500;
  color: var(--primary);
  text-decoration: none;
}

/*Skills card*/
.portfolio-skills-content {
  height: 90%;
  width: 87%;
  box-sizing: border-box;
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% auto 60%;
}

.portfolio-skills-content > div:nth-child(1) {
  margin-left: -5%;
  width: 110%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
}

.portfolio-skills-content > div:nth-child(1) > button,
.portfolio-skills-content > div:nth-child(1) > button:active {
  width: auto;
  padding: 0 4vw;
  color: var(--light--shades);
  font-size: 3vw;
  font-weight: 700;
  font-family: var(--source-serif);
  background-color: var(--primary);
  border: 0px none white;
}

.portfolio-skills-content > div:nth-child(1) > button.active,
.portfolio-skills-content > div:nth-child(1) > button:active.active {
  background-color: var(--ligh--accent);
}

.portfolio-skills-content > div:nth-child(2) {
  position: relative;
}

.portfolio-skills-content > div:nth-child(2) > div {
  position: absolute;
  bottom: 0;
}

.portfolio-skills-content .portfolio-skills-card {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  justify-items: center;
}

.portfolio-skills-content .portfolio-skills-card > i {
  color: var(--dark--accent);
}

.portfolio-skills-content .portfolio-skills-card > div {
  background-color: #FFF;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column ;
}

.portfolio-skills-content .portfolio-skills-card div h2 {
  font-size: 1.2rem;
  color: var(--primary);
  margin: 0 5vw;
  font-family: var(--source-serif);
  line-height: 250%;;
}

.portfolio-skills-content .portfolio-skills-card .portfolio-skills-header {
  display: flex;
}

.portfolio-skills-content .portfolio-skills-card .portfolio-skills-header .portfolio-skills-logo {
  margin-left: auto;
  height: 12vh;
}

.portfolio-skills-content .portfolio-skills-card .portfolio-skills-header .portfolio-skills-logo img {
  width: auto;
  height: 100%;
}

/*Portfolio content*/
section .portfolio-clients-content {
  height: 90%;
  width: 87%;
  box-sizing: border-box;
  position: absolute;
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 100%;;
}

section .portfolio-clients-content div:nth-child(1){
  position: relative;
}

section .portfolio-clients-content div:nth-child(1) div {
  position: absolute;
  bottom: 0;
}

section .portfolio-clients-content .portfolio-client-card{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 75% 10%;
  justify-items: center;
}

section .portfolio-clients-content .portfolio-client-card i{
  color: var(--dark--accent);
}

section .portfolio-clients-content .portfolio-client-card i:nth-child(1) {
  align-self: flex-start;
}

section .portfolio-clients-content .portfolio-client-card i:nth-child(2) {
  align-self: flex-start;
}

section .portfolio-clients-content .portfolio-client-card div {
  margin-top: 5%;
  width: 100%;
  background-color: var(--dark--accent);
}

section .portfolio-clients-content .portfolio-client-card div div:nth-child(1) {
  background-color: #FFF;
  height: 80%;
  width: 90%;
  margin-left: 5%;
  margin-top: -5%;
}

/*Contact content*/
section .portfolio-contact-content {
  position: absolute;
  height: 90%;
  width: 87%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 70%;
}

section .portfolio-contact-content div:nth-child(1){
  position: relative;
}

section .portfolio-contact-content div:nth-child(1) div {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

section .portfolio-contact-content .portfolio-contact-form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 70%;
}

section .portfolio-contact-content .portfolio-contact-form > form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

section .portfolio-contact-content .portfolio-contact-form > form input{
  height: 4vh;
  font-size: 0.7rem;
  padding: 0.1rem 0.5rem;
  border: none;
  font-family: var(--source-sans);
}

section .portfolio-contact-content .portfolio-contact-form > form input:active{
  border: 1px solid var(--ligh--accent);
}

section .portfolio-contact-content .portfolio-contact-form > form textarea{
  height: 10vh;
  border: none;
  padding: 0.1rem 0.5rem;
}

section .portfolio-contact-content .portfolio-contact-form > form input[type=submit]{
  
  height: 6vh;
  color: var(--light--shades);
  background-color: var(--primary);
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--source-serif);
  border: none;
  padding: 0.5rem 1rem;
}

section hr {
  margin: 12% 5%;
  width: 90%;
  height: 0;
  overflow: visible;
  padding: 0;
}

section hr:after {
  content: "OR";
  background-color: var(--light--shades);
  transform: translateX(50%);
  display: inline-block;
  padding: 0.5rem;
  top: -1rem;
  position: relative;
  font-weight: 700;
  font-family: var(--source-serif);
  margin-left: 38%;
  font-size: 0.6rem;
  color: var(--primary);
}

section .portfolio-social {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-inline-start: 0;
}

section .portfolio-social a {
  padding: 0.5rem 0.7rem;
  background-color: var(--primary);
  color: var(--light--shades);
  border-radius: 50%;
}
section .portfolio-social a:before {
  content: "";
  height: 0;
  width: 0;
}

section .portfolio-social a:after {
  content: "";
  height: 0;
  width: 0;
  display: none;
}

section .portfolio-contact-content h2{
  
  font-size: 1.2rem;
  color: var(--primary);
  margin: 0 5vw;
  font-family: var(--source-serif);
  line-height: 250%;;

}

/*Footer section*/
footer {
  padding: 2rem;
  background-color: var(--primary);
  padding-bottom: 7vh;
  text-align: center;
  color: var(--light--shades);
  font-weight: 100;
  margin-bottom: 10vh;
  font-size: 0.8rem;
}

footer > div > div > ul {
  list-style-type: none;
  padding-inline-start: 0;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
}

footer h2 {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 2rem;
}



.moon {
  margin-top: 7%;
  margin-left: 60%;
  background-color: rgb(217, 213, 204);
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px rgb(217, 213, 204);
  background-image: linear-gradient(rgb(212, 206, 190), rgb(217, 213, 204) );
  position: absolute;
  animation: 2s moon-glow ease-in infinite;
  -moz-animation: 2s moon-glow ease-in infinite;
  -ms-zoom-animation: 2s moon-glow ease-in infinite;
  -webkit-animation: 2s moon-glow ease-in infinite;
  -o-animation: 2s moon-glow ease-in infinite;
}

@keyframes moon-glow {
  0% {
    box-shadow: 0 0 4px 4px rgb(217, 213, 204);
  } 
  50% {
    box-shadow: 0 0 2px 2px rgb(217, 213, 204); 
  }
  100% {
    box-shadow: 0 0 4px 4px rgb(217, 213, 204);   
  }
}

.crater {
  background-color: rgb(179, 175, 166);
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(rgb(217, 213, 204), rgb(
  181, 177, 172
  ));
}

.crater-1 {
  height: 3vh;
  width: 3.5vh;
  margin: 2.5vh 0 0 2vh;
  box-shadow: -3px -7px 9px 2px rgb(179, 175, 166);
  transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
}

.crater-2 {
  height: 2vh;
  width: 2vh;
  margin: 7vh 0 0 7vh;
  box-shadow: 0px -3px 5px 2px rgb(179, 175, 166);
}

.crater-3 {
  height: 2vh;
  width: 2vh;
  margin: 10vh 0 0 3.5vh;
  box-shadow: 0px -3px 5px 2px rgb(179, 175, 166);
}

.crater-4 {
  height: 2.5vh;
  width: 3vh;
  margin: 4.5vh 0 0 10.5vh;
  box-shadow: 3px -7px 9px 2px rgb(179, 175, 166);
  transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
}

.stars {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.star {
  position: absolute;
  border-radius: 50%;
  background-color: #FFF;
  height: 0.1vw;
  width: 0.1vw;
  box-shadow: 0px 0px 4px 2px var(--primary);
  animation: 3s stars-twinkle linear infinite;
  -moz-animation: 3s stars-twinkle linear infinite;
  -ms-zoom-animation: 3s stars-twinkle linear infinite;
  -webkit-animation: 3s stars-twinkle linear infinite;
  -o-animation: 3s stars-twinkle linear infinite;
}

@keyframes stars-twinkle {
  0% {
    box-shadow: 0 0 4px 3px var(--primary);
  } 
  20% {
    box-shadow: 0 0 3px 2px var(--primary); 
  }
  50% {
    box-shadow: 0 0 2px 2px var(--primary); 
  }
  70% {
    box-shadow: 0 0 3px 2px var(--primary); 
  }
  100% {
    box-shadow: 0 0 4px 3px var(--primary);   
  }
}

.star-1 {
  margin: calc(var(--xmarg) + 21vw) 0 0 calc(var(--xmarg) + 50vw);
}

.star-2 {
  animation-delay: 0.5s;
  margin: calc(var(--xmarg) + 20vw) 0 0 calc(var(--xmarg) + 10vw);
}

.star-3 {
  animation-delay: 1s;
  margin: calc(var(--xmarg) + 13vw) 0 0 calc(var(--xmarg) + 12vw);
}

.star-4 {
  animation-delay: 1.5s;
  margin: calc(var(--xmarg) + 35vw) 0 0 calc(var(--xmarg) + 40vw);
}

.star-5 {
  margin: calc(var(--xmarg) + 23vw) 0 0 calc(var(--xmarg) + 44vw);
}

.star-6 {
  animation-delay: 0.5s;
  margin: calc(var(--xmarg) + 21vw) 0 0 calc(var(--xmarg) + 36vw);
}

.star-7 {
  animation-delay: 1s;
  margin: calc(var(--xmarg) + 20vw) 0 0 calc(var(--xmarg) + 16vw);
}

.star-8 {
  animation-delay: 1.5s;
  margin: calc(var(--xmarg) + 22.5vw) 0 0 calc(var(--xmarg) + 46.5vw);
}

.star-9 {
  margin: calc(var(--xmarg) + 41vw) 0 0 calc(var(--xmarg) + 38vw);
}

.star-10 {
  animation-delay: 0.5s;
  margin: calc(var(--xmarg) + 30vw) 0 0 calc(var(--xmarg) + 20vw);
}

.star-11 {
  animation-delay: 1s;
  margin: calc(var(--xmarg) + 26vw) 0 0 calc(var(--xmarg) + 11vw);
}

.star-12 {
  animation-delay: 1.5s;
  margin: calc(var(--xmarg) + 37.5vw) 0 0 calc(var(--xmarg) + 22vw);
}

.star-13 {
  margin: calc(var(--xmarg) + 6vw) 0 0 calc(var(--xmarg) + 27vw);
}

.star-14 {
  animation-delay: 0.5s;
  margin: calc(var(--xmarg) + 31vw) 0 0 calc(var(--xmarg) + 26vw);
}

.star-15 {
  animation-delay: 1s;
  margin: calc(var(--xmarg) + 21.5vw) 0 0 calc(var(--xmarg) + 13vw);
}

.star-16 {
  animation-delay: 1.5s;
  margin: calc(var(--xmarg) + 27vw) 0 0 calc(var(--xmarg) + 43vw);
}

.star-17 {
  margin: calc(var(--xmarg) + 13vw) 0 0 calc(var(--xmarg) + 14.5vw);
}

.star-18 {
  animation-delay: 0.5s;
  margin: calc(var(--xmarg) + 15vw) 0 0 calc(var(--xmarg) + 21vw);
}